body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/171/442/original/vecteezy_healthy-organic-food-seamless-pattern-vector-white_8858692.jpg?1753943194");
  background-size: contain;
  background-repeat: repeat-x, repeat-y;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: rgb(85, 84, 84);
}
h1 {
  color: #feffea;
  background-color: #2eb872;
  max-width: 735px;
  margin: 20px auto;
  padding: 3px 8px;
  border-radius: 12px;
  box-shadow: 10px 5px 10px 2px rgba(104, 104, 105, 0.5);
}
.recipe-container {
  display: block;
  margin: 5px auto;
  background-color: #feffea;
  border: 5px solid #2eb872;
  max-width: 700px;
  min-height: 300px;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 10px 5px 10px 2px rgba(104, 104, 105, 0.5);
}
form {
  border-bottom: 2px double rgb(232, 137, 146);
}

.drop-menu {
  border: none;
  background-color: rgba(163, 222, 131, 0.5);
  font-size: 14px;
  padding: 7px;
  text-align: center;
  margin-right: 10px;
  border-radius: 50px;
  box-shadow: 10px 5px 10px 2px rgba(104, 104, 105, 0.2);
}

.search-button {
  border: none;
  color: #feffea;
  background-color: rgba(255, 93, 110);
  font-size: 14px;
  padding: 7px 15px;
  border: 2px solid rgba(255, 93, 110);
  border-radius: 50px;
  box-shadow: 10px 5px 10px 2px rgba(104, 104, 105, 0.2);
}
.search-button:hover {
  background-color: #feffea;
  color: #ff5d6e;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
#loading-message {
  margin: 10px auto;
  display: block;
  background-color: #2eb872;
  color: #feffea;
  padding: 5px 15px;
  max-width: 50%;
  border-radius: 12px;
  visibility: hidden;
}
.blink {
  animation: blinker 2s ease-out infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
h2 {
  color: #ff5d6e;
  padding-top: 5px;
}
h3 {
  color: #2eb872;
  border-top: 2px solid #2eb872;
  padding-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li {
  text-align: left;
  margin-bottom: 10px;
}

footer {
  background-color: #a3de83;
  max-width: 735px;
  margin: 4px auto;
  border-radius: 8px;
  color: #ff5d6e;
  font-size: 13px;
  box-shadow: 10px 5px 10px 2px rgba(104, 104, 105, 0.2);
}
a {
  color: #ff5d6e;
}
